<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Item</title>
</head>
<body>
<header class="header-container">
    <nav></nav>
</header>

<div>
    <form action="{{ url_for('editItem', item_id=item.id) }}" method="post">

        <h3 class="header-title">Edit Item</h3>

        <div>
            <label>Title
                <input type="text" name="title" value="{{ item.title }}">
            </label>
        </div>

        <div>
            <label>Description
                <input type="text" name="desc" value="{{ item.description }}">
            </label>
        </div>

        <div>
            <label>Category
                <select name="categoryId">
                    {% for category in categories %}
                    <option value="{{category.id}}">{{category.title}}</option>
                    {% endfor %}
                </select>
            </label>
        </div>

        <div>
            <input type="submit" value="Update">
        </div>


    </form>
</div>

</body>
</html>