<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<header class="header-container">
    <nav>


        {% if session['logged_in'] == true %}
            <div>
                <button type="button" onclick="window.location.href='{{ url_for('userLogout') }}'">LOGOUT</button>
            </div>
        {% else %}
            <div>
                <button type="button" onclick="window.location.href='{{ url_for('userLogin') }}'">LOGIN</button>
                <div>
                    <span style="color: #fff;">Not a Registered User?</span>
                    <button type="button" onclick="window.location.href='{{ url_for('userSignup') }}'">SIGNUP</button>
                </div>
            </div>
        {% endif %}
    </nav>
</header>

<div class="home-container">
    <div>
        <h3 class="heading-title">Categories</h3>

        {% for category in categories %}

        <br>
        <p><a href="{{ url_for('categoryItemsList', categoryTitle=category.title) }}">{{category.title}}</a></p>

        {% endfor %}
    </div>
    <div>
        <div class="add-item-container">
            <h3 class="heading-title">Latest Items</h3>

            {% if session['logged_in'] == true %}
                <a href="{{url_for('addNewItem')}}">Add Item</a>
            {% endif %}

        </div>

        {% for item in items %}

        <br>
        <p><a href="{{url_for('categoryItem', category_id=item.categoryId, item_id=item.id)}}">{{item.title}}
            ({{item.category.title}})</a></p>

        {% endfor %}
    </div>
</div>

</body>
</html>