<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<header class="header-container ">
    <nav>
        <div>
            <button type="button" onclick="window.location.href='{{ url_for('categoriesList') }}'" class="button-home">HOME</button>
        </div>
        <div style="float: right;">
            {% if session['logged_in'] == True %}
                <div>
                    <button type="button" onclick="window.location.href='{{ url_for('userLogout') }}'" class="button-logout">LOGOUT</button>
                </div>
            {% else %}
                <div>
                    <button type="button" onclick="window.location.href='{{ url_for('userLogin') }}'" class="button-login">LOGIN</button>
                    <div class="register-button-container">
                        <div>
                            <span style="color: #fff;">Not a Registered User?</span>
                        </div>
                        <div>
                            <button type="button" onclick="window.location.href='{{ url_for('userSignup') }}'">SIGNUP</button>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </nav>
</header>

{% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
{% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!-- <strong>Title</strong> --> {{ message }}
        </div>
    {%endfor%}
{%endif%}
{%endwith%}

<div class="home-container main-controller">
    <div>
        <h3 class="heading-title">Categories</h3>

        {% for category in categories %}

        <br>
        <p><a href="{{ url_for('categoryItemsList', categoryTitle=category.title) }}">{{category.title}}</a></p>

        {% endfor %}
    </div>
    <div>
        <div class="add-item-container">
            <h3 class="heading-title">Latest Items</h3>

            {% if session['logged_in'] == true %}
                <button type="button" onclick="window.location.href='{{ url_for('addNewItem') }}'" class="button-add-item">Add Item</button>
            {% endif %}

        </div>

        {% for item in items %}

        <br>
        <p><a href="{{url_for('categoryItem', category_id=item.categoryId, item_id=item.id)}}">{{item.title}}
            ({{item.category.title}})</a></p>

        {% endfor %}
    </div>
</div>

</body>
</html>