<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"></script>
</head>
<body>
<header class="header-container">
    <nav>
        <div>
            <button type="button" onclick="window.location.href='{{ url_for('categoriesList') }}'" class="button-home">
                HOME
            </button>
        </div>
    </nav>
</header>

<div class="login-container">
    <div><h3 class="header-title">Login User</h3></div>
    <form action="{{ url_for('userLogin') }}" method="post">

        <div>
            <input type="text" name="username" class="login-input" placeholder="Username">
        </div>

        <div>
            <input type="password" name="password" class="login-input" placeholder="Password">
        </div>

        <div>
            <input type="submit" value="LOGIN" class="login-submit">
        </div>

        <div id="signinButton">
          <span class="g-signin"
                data-scope="openid email"
                data-clientid="71232640630-voejtiiamvvf5824u1fdtcc03tcpvqec.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
                data-approvalprompt="force">
          </span>
        </div>
        <div id="result"></div>

    </form>
</div>

<script>
    function signInCallback(authResult) {
        if(authResult['code']) {
            <!--console.log(authResult['code']);-->
            <!--$('#signinButton').attr('style', 'display:none');-->
            $.ajax({
                type: 'POST',
                url: '/gconnect?state={{STATE}}',
                processData: false,
                contentType: 'application/octet-stream; charset=utf-8',
                data: authResult['code'],
                success: function(result) {
                    if(result) {
                        $('#result').html('Login Successful!<br>' + result + '</br>Redirecting...')
                        setTimeout(function() {
                            window.location.href = "/catalog";
                        }, 3000);
                    } else {
                        $('#result').html('Failed to make a server side call. Check your configuration.')
                    }
                }
            });
        } else if (authResult['error']) {
            console.log('There was an error: ' + authResult['error'])
        }
    }

</script>

</body>
</html>