body {
    width: 100%;
    height: 100%;
    margin: 0px;
}
.home-container, .item-list-container, .item-container {
    padding: 8px;
}
.home-container > div {
    display: inline-block;
    width: 30%;
}

.item-list-container {

}
.item-list-container > div {

    display: inline-block;
    width: 30%;

}

.item-container {

}

.header-container {
    background-color: #0000ff;
    width: 100%;
    height: 50px;
}

.add-item-container > *{
    display: inline-block;
}

.add-item-container > a {
    float: right;
}
