body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: sans-serif;
}
.heading-title {
    font-size: 25px;
}
.home-container, .item-list-container, .item-container {
    margin: 8px 200px;
    padding: 8px;
}
.home-container > div {
    display: inline-block;
    width: 25%;
    padding: 0px 30px;
}
.home-container > div:first-child {
    width: 15%;
    border-right: 2px solid #cecece;
}

.item-list-container {

}
.item-list-container > div {

    display: inline-block;
    width: 30%;

}

.item-container {

}

.header-container {
    background-color: #1c5d75;
    width: 100%;
    height: 50px;
}
.header-container > nav {
    text-align: right;
    padding: 10px 200px;
}
.header-container > nav > div {
    height: 100%;
}
.header-container > nav > div > * {
    display: inline-block;
}
.header-container > nav > div > button {
    background-color: #aeae;
    width: 70px;
    /* line-height: 0.1; */
    height: 30px;
}

.add-item-container > *{
    display: inline-block;
}

.add-item-container > a {
    float: right;
}

.login-container {
    width: 30%;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    align-items: center;
    background-color: #7E57C2;
}
.login-container > form {
    text-align: center;
    width: 80%
}
.login-container > form > * {
    width: 100%;
    margin-bottom: 1rem;
}
.login-container > form .login-input {
    font-size: 1.2rem;
    line-height: 0.8;
    border: none;
    border-radius: 0.4rem;
    padding: 0.8rem 1rem;
}
.login-container > form .login-input:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem #5e35b1;
}
.login-container > form .login-submit {
    border: none;
    padding: 10px 25px;
    background: #FF8500;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

}
.login-container > form .login-submit:hover {
    box-shadow: 3px 3px 4px #5e35b1;
    -moz-box-shadow: 3px 3px 4px #5e35b1;
    -webkit-box-shadow: 3px 3px 4px #5e35b1;
}
